
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div style="padding: 10px;">
    @Html.ActionLink("查看SessionId", "SessionId")
</div>

<div style="padding: 10px;">
    @Html.ActionLink("产生一个ASP.NET错误(500)", "Error500") &nbsp;&nbsp;
    @Html.ActionLink("访问一个不存在的Action", "efsdfsfsfdsfd") &nbsp;&nbsp;
    @Html.ActionLink("产生一个404", "Error404") &nbsp;&nbsp;
    @Html.ActionLink("产生一个403", "Error403") &nbsp;&nbsp;
    @Html.ActionLink("产生一个401", "Error401") &nbsp;&nbsp;
</div>

<div style="padding: 10px;">
    @Html.ActionLink("查看Module", "ModuleList") &nbsp;&nbsp;
</div>

